{% extends "base.html" %}

{% block content %}

<div class="container flex-grow-1 d-flex flex-column mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
        <a
            type="button"
            class="btn btn-primary"
            href="{{ url_for('main.project_home', project_id=project.id) }}"
        >
            Back
        </a>

        <div class="d-flex gap-2">
            <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteDangerModal"
                data-item-name="{{ project.id }}"
                data-delete-url="{{ url_for('main.delete_project', project_id=project.id) }}"
            >
                <i class="bi bi-trash"></i> Delete Project
            </button>
        </div>
    </div>

    <div class="container-fluid flex-grow-1 d-flex flex-column">
        <div class="row flex-grow-1">
            <div class="col-lg-6">
                <h1 class="display-2">{{ project.id }}</h1>
                {% if project.name %}
                    <p class="lead">
                        {{ project.name }}
                    </p>
                {% endif %}
                <dl class="row mt-5">
                    {% if project.description %}
                        <dt class="col-sm-3">
                            Description
                        </dt>
                        <dd class="col-sm-9">
                            {{ project.description }}
                        </dd>
                    {% endif %}

                    {# PI info, etc. goes here later. #}
                </dl>
            </div>
            <div class="col-lg-3 border-start d-flex flex-column">
                <h3 class="text-center">Datasets</h3>
                <div class="flex-grow-1 d-flex justify-content-center align-items-center text-muted">
                    No datasets yet.
                </div>
            </div>
            <div class="col-lg-3 border-start d-flex flex-column">
                <h3 class="text-center">Users</h3>
                <div class="flex-grow-1 d-flex justify-content-center align-items-center text-muted">
                    No users with access yet.
                </div>
            </div>
        </div>
    </div>
</div>

{# Used by the 'delete project' button #}
{% include 'partials/_delete_danger_modal.html' %}

{% endblock %}
