<!-- Form to add a new project to the database -->
{% include 'flash.html' %}
<a class="btn btn-primary" href="{{ url_for('main.index') }}">
    Back
</a>
<div class="container d-flex justify-content-center mt-5">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Create Project</h4>
                <form
                    method="POST"
                    class="p-4 border rounded bg-light"
                    hx-post="{{ url_for('main.add_project') }}"
                    hx-target="#main-content"
                    hx-swap="innerHTML"
                >
                    {{ project_form.hidden_tag() }}

                    {% for field in project_form %}
                        {% if field.widget.input_type != 'hidden' %}
                            {% if field.render_kw and field.render_kw.id == 'select-site' %}
                                <!-- Handle the site-select separately so the element can be swapped out
                                     when the user needs to add a site -->
                                <div id="site-container">
                                    {% include 'partials/_select_site.html' %}
                                </div>
                            {% elif field.type == "BooleanField" %}
                                <!-- Handle BooleanField separately so nicer formatting can be applied -->
                                <div class="form-check form-switch mb-3">
                                    {{ field(class="form-check-input") }}
                                    {{ field.label(class="form-check-label") }}
                                </div>
                            {% else %}
                                <!-- Other fields get automatically rendered here -->
                                <div class="mb-3">
                                    {{ field.label(class="form-label") }}

                                    {% if field.type in ["SelectField", "QuerySelectMultipleField"] %}
                                        {{ field(class="form-select") }}
                                    {% else %}
                                        {{ field(class="form-control") }}
                                    {% endif %}

                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <span class="text-danger small">
                                                {{ error }}
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-100">
                        Save Project
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
