<!-- An overview of all projects in the database -->
{% if current_user.is_admin %}
    <button
        class="btn btn-primary"
        hx-get="{{ url_for('main.add_project') }}"
        hx-target="#main-content"
    >
        <i class="bi bi-plus"></i> Add Project
    </button>
{% endif %}

<div class="list-group">
    {% for project in projects %}
        <div class="list-group-item py-3">
            <div class="row align-items-center">

                <!-- Left: main info -->
                <div class="col-md-6">
                    <h6 class="mb-1">
                        {{ project.id }}
                    </h6>
                    <p class="mb-1 text-muted">
                        {{ project.description }}
                    </p>
                </div>

                <!-- Middle: metadata -->
                <!-- <div class="col-md-4">
                    <div><strong>Participants:</strong> {{ project.num_sessions }}</div>
                    <div><strong>Last Data:</strong> {{ project.last_scan_date }}</div>
                </div> -->

                <!-- Right: actions -->
                <div class="col-md-2 ms-auto text-end">
                    <a href="{{ url_for('main.project_home', project_id=project.id) }}" class="btn btn-sm btn-outline-primary">
                        View
                    </a>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
